<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partial/head') %>

<body class="cart product productos">
    <!-- Header -->
    <%- include('../partial/header') %>

    <!-- Main -->
    <main>
        <div class="start">
            <h3 class="first-tittle">Productos en su Carrito:</h3>
        </div>
        <section>
            <% let total = 0 %> 
            <% productAdded.map(element => { %>
            <article class="container">
                <div class="items">
                    <img class="product-img" src="/img/products/<%= element.imagen %>" alt="<%= element.titulo %>">

                    <div class="item1">
                        <a href="">
                            <h4 class="tittle-img"><%= element.titulo %></h4>
                        </a>
                        <p class="product-description"><%= element.descripcion %></p>
                    </div>

                    <div class="item2">
                        <span class="quantity"><i class="fas fa-minus"></i>1<i class="fas fa-plus"></i></span>
                        <span class="price">$<%= element.precio %></span>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <% total += element.precio %> 
            <% }) %>

            <article class="total-product">
                <a href=""><strong>Calcular Envío<i class="fas fa-arrow-right"></i></strong></a>
                <span><strong>TOTAL CON ENVÍO:</strong></span>
                <span class="price">$<%= total %> </span>
            </article>

            <div class="buttons">
                <button class="seguir-comprando">SEGUIR COMPRANDO</button>
                <button class="finalizar-compra">FINALIZAR COMPRA</button>
            </div>
        </section>
        <!-- Carousel -->

        <%- include('../partial/prod-carousel.ejs') %>

    </main>

    <!-- Footer -->
    <%- include('../partial/footer') %>

</body>

</html>