<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partial/head') %>

<body class="product-detail productos">
    <!-- Header -->
    <%- include('../partial/header') %>

    <!-- Main -->
    <main>
        <section class="product">
            <aside>
                <img class="img-product" src="/img/products/<%- products.images[0].file %>" alt="">
                <div>
                    <% products.images.forEach(photo => { %>
                    <img width="100%" src="/img/products/<%= photo.file %> " alt=""
                        onclick="document.getElementsByClassName('img-product').setAttribute('src','/img/products/<%= photo.file %>')">
                    <% }) %>
                </div>
            </aside>
            <article class="detail">
                <h1><%- products.name %></h1>
                <div>
                    <button class="descrip-button">Descripción <i class="fas fa-chevron-right"></i></button>
                    <p class="description"><%- products.description %></p>
                    <span class="description"><%- products.brand %></span>
                </div>
                <div class="price">
                    <p>$<%- products.price %></p>
                    <span><i class="fas fa-minus"></i>1<i class="fas fa-plus"></i></span>
                    <a href="/users/reg"></a>
                    <button class="add-cart">
                        <a href="/users/login"></a>
                        <i class="fas fa-cart-plus"></i> + Añadir al carrito
                    </button>
                </div>
                <a href="">Calcular envío <i class="fas fa-arrow-right"></i></a>
            </article>
        </section>

        <!-- Carousel -->
        <!-- <%- include('../partial/prod-carousel.ejs') %>  -->

        <!-- Contacto -->
        <%- include('../partial/contact.ejs') %>

    </main>
    <!-- Footer -->
    <%- include('../partial/footer') %>

</body>

</html>