<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partial/head') %>

<body class="home">
    <!-- Header -->
    <%- include('./partial/header') %>

    <!-- Main -->
    <main>
        <section class="carrusel">
            <img src="/img/carrucel1.jpg" alt=" imagen de vasijas">
            <div class="contenido">
                <h3>El arte en tus manos</h3>
                <p>Los mejores productos hechos a mano por maestros artesanos.</p>
                <button>Descubre nuestra colección</button>
            </div>

        </section>

        <section class="botones">
            <ul>
                <li><a href=""><i class="fas fa-shipping-fast"></i> Envios a domicilio</a>
                </li>
                <li><a href=""><i class="far fa-comments"></i> Atención personalizada</a>
                </li>
                <li><a href=""><i class="fas fa-tags"></i></i> Ofertas especiales</a>
                </li>
                <li class="botoncontacto"><a href=""><i class="far fa-question-circle"></i> Contacto</a>
                </li>
            </ul>
        </section>

        <section class="productosDestacados">
            <h2>Productos Destacados</h2>
            <div class="articulos"> 
                <% for(let i=0; i<8 ; i++) { %>
                <% if(products[i].destacado==true){%>
                <article>
                    <a href="/products/detail/<%= products[i].id %> ">
                        <img src="/img/products/<%= products[i].imagen %> " alt="">
                        <h4><%= products[i].titulo %></h4>
                        <p>$<%= products[i].precio %></p>
                    </a>
                </article>
                <% } %>
                <% } %>
            </div>
        </section>

        <section class="contenidoAmistad">
            <div>
                <a href="">Especial Día de la Amistad</a>
                <img src="/img/img1.png" alt="">
            </div>
        </section>

        <%- include('./partial/contact.ejs') %>

    </main>

    <!-- Footer -->
    <%- include('./partial/footer') %>

</body>

</html>