<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partial/head') %>

<body class="users edit">
    <!-- Header -->
    <%- include('../partial/header') %>

    <main>
        <form action="/users/profile/change-password?_method=PUT" method="POST">

            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="name@example.com">
                <label for="password">Contraseña actual:</label>
                <% if(locals.errors && errors.password){ %>
                <small class="error"> <%= errors.password.msg %> </small>
                <% } %>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="newPassword" id="newPassword"
                    placeholder="name@example.com">
                <label for="newPassword">Contraseña nueva:</label>
                <% if(locals.errors && errors.newPassword){ %>
                <small class="error"> <%= errors.newPassword.msg %> </small>
                <% } %>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="newPassword2" id="newPassword2"
                    placeholder="name@example.com">
                <label for="newPassword2">Repetir contraseña nueva:</label>
                <% if(locals.errors && errors.newPassword2){ %>
                <small class="error"> <%= errors.newPassword2.msg %> </small>
                <% } %>
            </div>

            <div class="boton">
                <button type="submit" class="form-button">Guardar cambios</button>
            </div>

        </form>
    </main>

    <!-- Footer -->
    <%- include('../partial/footer') %>
</body>

</html>