<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partial/head') %>

<body class="users edit">
    <!-- Header -->
    <%- include('../partial/header') %>

    <main>
        <h3>Editar usuario:</h3>
        <form class="form" action="/users/profile/edit/<%=locals.userLogged.id%>?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="nombre" id="nombre"
                    value="<%= locals.userLogged.nombre  %> " placeholder="name@example.com">
                <label for="floatingInput">Nombre</label>
                <% if(locals.errors && errors.nombre){ %>
                <small class="error"> <%= errors.nombre.msg %> </small>
                <% } %>
                <small id="nombresmall"></small>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="apellido" id="apellido"
                    value="<%= locals.userLogged.apellido  %> " placeholder="name@example.com">
                <label for="floatingInput">Apellido</label>
                <% if(locals.errors && errors.apellido){ %>
                <small class="error"> <%= errors.apellido.msg %> </small>
                <% } %>
                <small id="apellidosmall"></small>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="email" value="<%= locals.userLogged.email %>"
                    placeholder="name@example.com">
                <label for="floatingInput">Direccion de E-mail</label>
                <% if(locals.errors && errors.email){ %>
                <small class="error"> <%= errors.email.msg %> </small>
                <% } %>
                <small id="emailsmall"></small>
            </div>

            <% if(locals.userLogged.role!=1){ %>
            <div class="user">
                <label for="role">Perfil del usuario</label>
                <span>
                    <div class="rol">
                        <input type="radio" name="role" value="3" id="client" onclick=userClient()
                            <% if(locals.userLogged.role==3){%> checked <% } %>>
                        <label for="comprador">Cliente</label>
                    </div>
                    <div>
                        <input type="radio" name="role" value="2" id="producer" onclick=userProducer()
                            <% if(locals.userLogged.role==2){%> checked <% } %>>
                        <label for="vendedor">Productor</label>
                    </div>
                </span>
                <% if(locals.errors && errors.role){ %>
                <small class="error"> <%= errors.role.msg %> </small>
                <% } %>
            </div>
            <div style='display: none;' id="brand" class="form-floating mb-3">
                <input type="text" class="form-control" id="marca" name="marca" value="<%= locals.userLogged.brand %>"
                    placeholder="name@example.com">
                <label for="marca">Nombre de la marca</label>
            </div>
            <% } else{%>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="marca" name="marca" value="<%= locals.userLogged.brand %>"
                    placeholder="name@example.com">
                <label for="marca">Nombre de la marca</label>
                <small id="marcasmall"></small>
            </div>
            <% } %>
            <div class="container">
                <div class="row">
                    
                        <label class="selectImg" for="product-img">
                            <div class="imgHover">
                                <p class="text-center">Foto de perfil:</p>
                            </div>
                            <img id="img-preview" class="img-fluid img-thumbnail imagen-height rounded"
                                src="/img/users/<%= locals.userLogged.avatar ? locals.userLogged.avatar : 'default-image.png'%>"
                                alt="" width="300">
                        </label>
                        <div class="form-admin__box inactivo">
                            <input class="d-none" id="product-img" type="file" name="avatar"
                                placeholder="Imagen del Producto" accept=".jpg,.png,.jpeg">
                            <small id="avatarsmall"></small>
                        </div>
                    
                </div>
            </div>
            <div class="boton">
                <button type="submit" id="guardar">Guardar cambios</button>

            </div>
        </form>
    </main>

    <!-- Footer -->
    <%- include('../partial/footer') %>
    <script src="/javascript/userType.js"></script>
    <script src="/javascript/images.js"></script>
    <script src="/javascript/validaciones/editprofile.js"></script>
</body>

</html>