<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partial/head') %>

<body class="formulario login">
    <!-- Header -->
    <%- include('../partial/header') %>

    <!-- Main -->
    <main>
        <h2>¡Accede a tu cuenta!</h2>
        <form action="/users/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Ingrese su E-mail...">
                <% if(locals.errors && errors.email){ %>
                <small class="error"> <%= errors.email.msg %> </small>
                <% } %>
                <small id="smallemail"></small>
            </div>
            <div class="password">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingrese su contraseña...">
                <div class="ver" id="mostrar"> <img src="https://img.icons8.com/ios-filled/50/000000/visible--v2.png" />
                </div>
                <% if(locals.errors && errors.password){ %>
                <small class="error"> <%= errors.password.msg %> </small>
                <% } %>
                <small id="smallpass"></small>
            </div>
            
            <!--  Centrar el checkbox y el recordarme -->

            <div class="recordar">
                <label for="recordar">Recordarme</label>
                <input type="checkbox" name="recordar" id="recordar" value="1">
            </div>
            <button type="submit" id="sesion">Iniciar Sesión</button>
        </form>
        <section>
            <h4>Ó iniciar sesión con:</h4>
            <div>
                <button><i class="fab fa-google"> Google</i></button>
                <button><i class="fab fa-facebook"> Facebook</i></button>
            </div>
            <!-- <div>
                Si aun no tienes creada una cuenta, entra <a href="/users/register"> Aquí</a>
            </div> -->
        </section>
    </main>

    <!-- Footer -->
    <%- include('../partial/footer') %>
    <script src="/javascript/validaciones/login.js"></script>

</body>
<a href="https://icons8.com/icon/N3ft0cEVp9ui/visible">Visible icon by Icons8</a>
</html>